t@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
margin: 0 auto; font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
background: #3C678F;
}
.container {
width: 960px;
margin: 0 auto;
}
.header {
background: #3C678F;
text-align: center;
color: white;
margin: 0px;
padding: 5;
float: left;
width: 100%;
height: 80px;
}
.nav {
background: #99CEFF;
margin: 0px;
padding: 5;
float: left;
width: 100%;
height: 60px;
text-align: center;
}
.content {
background: #FFC899;
margin: 0px;
float: left;
width: 100%;
color: White;
text-align: left;
}
.footer {
background: #FFE599;
margin: 0px;
float: left;
width: 100%;
height: 50px;
color: white;
text-align: center;
}
a:link {
     color: ##4E7BFF;
}
a:visited {
     color: #FEFFFD;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
